* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.counter-container {
    display: inline-block;
    padding: 20px 30px;
    margin: 50px;
    border: 1px solid #000;
    border-radius: 10px;
}

.counter-inner {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.counter-button {
    background: transparent;
    padding: 0 5px;
    border-radius: 5px;
}

.counter-inner input {
    width: 36px;
    margin: 0 10px;
}